version: 2
references:
  commands:
    install_cwl_runner: &install_cwl_runner
      name: "Install cwl-runner"
      command: "sudo pip install cwltest cwl-runner"
    run_test: &run_test
      name: "Run test"
      command: "sudo cwltest --verbose --test test.yml"
jobs:
  build:
    # working_directory: /tmp/cwl_test
    docker:
      - image: circleci/python:3.7-buster
    steps:
      - checkout
      - run: *install_cwl_runner
      - run: *run_test
